.gen-wrap.char {
  max-width: 40vw !important;

  display       : flex;
  flex-direction: column;

  * {
    font-family: 'Amatic SC', cursive;
  }

  &>* {
    margin: 15px 0;
  }

  .name {
    font-size  : 45px;
    font-weight: bold;
  }

  .OpenSea-link,
  .detail-header {
    align-self: flex-start;
  }

  .OpenSea-link {
    border-radius   : 29px;
    background-color: #00bfff;
    white-space     : nowrap;
    width           : min-content;
    padding         : 5px 25px;
    display         : block;
    text-align      : center;
    font-size       : 30px;
  }

  .detail-header {
    font-size: 40px;
  }

  .avatar {
    align-self: center;
    width     : 100%;
    object-fit: contain;
    overflow  : hidden;
  }

  .text {
    .detail {
      white-space          : nowrap;
      display              : grid;
      grid-template-columns: min-content 1fr min-content;
      font-size            : 25px;
      margin-bottom        : 15px;

      .level,
      .occurs {
        font-size        : 15px;
        grid-column-start: 1;
        grid-column-end  : 3;
      }

      .level {
        font-size: 20px;
      }

      .points {
        border-bottom: solid 1px white;
      }
    }

  }

}

@media screen and (max-width: 1100px) {
  .gen-wrap.char {
    max-width: 98vw !important;

    .text {
      width: 100%;
    }

    .detail {
      font-size: 10px;
    }
  }
}