.character-container{
    display: flex;
}

.character-text {
    width: 60%;
}

.character-image {
    margin: 100px 50px 0 50px;
    width: 40%;
    height: 40%;
    object-fit: contain;
}

.character-container {
    padding-left: 5%;
}

.character-header{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.OpenSea-link{
    border-radius: 29px;
    background-color: #00bfff;
    width: 20%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.character-details {
    font-size: 35px;
    font-weight: 600;
}

.character-details-header {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-bottom: 20px;
}

.character-detail {
    white-space: nowrap;
    display: grid;
    grid-template-columns: min-content 1fr minmax(20%, 40%);
    font-size: 12px;
    margin-bottom: 15px;
}

.character-detail-points {
    border-bottom : solid 1px white;
}





.character-detail-occurs {
    margin-top: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
}