.character-container {
    display       : flex;
    flex-direction: row-reverse;
    padding       : 20px 20px 0 20px;
}

.character-text {
    width: 50%;
}

.character-image {
    width     : 46%;
    margin    : 187px 2% 0 2%;
    object-fit: fill;
    height    : 46vw;
    max-height: 574px;
    overflow  : hidden;
}

.character-header {
    font-size    : 45px;
    font-weight  : bold;
    margin-bottom: 10px;
}

.OpenSea-link {
    border-radius   : 29px;
    background-color: #00bfff;
    white-space     : nowrap;
    width           : 200px;
    display         : block;
    text-align      : center;
    margin-bottom   : 10px;
}

.character-details-header {
    margin-bottom: 20px;
    font-size    : 35px;
    font-size    : 35px;
    font-weight  : 600;
}

.character-detail {
    white-space          : nowrap;
    display              : grid;
    grid-template-columns: min-content 1fr min-content;
    font-size            : 12px;
    margin-bottom        : 15px;
}

.character-detail-points {
    border-bottom: solid 1px white;
}

.character-detail-occurs {
    margin-top       : 3px;
    grid-column-start: 1;
    grid-column-end  : 3;
}

@media screen and (max-width: 1000px) {
    .character-header {
        font-size: 35px;
    }

    .character-detail {
        font-size    : 7px;
        margin-bottom: 13px;
    }

    .character-image {
        margin-top: 170px;
        max-height: 395px;
    }
}

@media screen and (max-width: 650px) {
    .character-container {
        flex-direction: column;
    }

    .character-image {
        margin    : 0 0 20px 0;
        width     : 95%;
        height    : 95vw;
        max-height: 95vw;
    }

    .character-text {
        width: 95%;
    }

    .character-detail {
        font-size: 10px;
    }
}