.gen-wrap {
  gap: 10px;
}

h2.filterH2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: start;
  background : #0a0e16;
  font-weight: bold;
  font-size  : 2.3rem;
  padding    : 5px 20px;
  width      : 100%;
}

.gallery-content {
  display              : grid;
  grid-template-columns: 2fr 5fr;
  gap                  : 20px;

  .filters-wrap {
    width: 100%;


    .filters {
      * {
        color: #ababab;
      }

      h2 {
        width: 100%;
      }

      .testclass {
        background-color: red;
      }

      .filter-buttons-container {
        margin-left: 0;
      }

      .filters-list {
        max-height    : 500px;
        overflow-y    : scroll;
        padding-bottom: 20px;
        margin-right  : 10px;

        span {
          font-size: 14px;
        }
      }

      .filters-list::-webkit-scrollbar {
        background-color: transparent;
        width           : 4px;
      }

      .filters-list::-webkit-scrollbar-thumb {
        background-color: #706f6f;
        border-radius   : 50px;
      }

      span.__filter-title {
        font-size: 14px;
      }

      @media screen and (max-width: 1450px) {
        span.__filter-title {
          font-size: 10px;
        }
      }

      width : 80%;
    }
  }

  .grid-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .grid {
      display              : grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows       : max-content;
      gap                  : 20px;
      
    }
    
    .btn-showmore {
      justify-self     : center;
      align-self       : center;
      grid-column-start: 2;
      grid-column-end: 3;

      background-color: rgb(255, 0, 157);
      color           : #fff;

      height: 50px;
      width: max-content;
      padding: 0 30px;
    }

    @media screen and (max-width: 1450px) {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (max-width: 650px) {
      .grid{
        grid-template-columns: 1fr;
      }
    }
  }


}

@media screen and (max-width: 850px) {
  .gen-wrap {
    gap: 0 !important;

    .toggle-button {
      float: right;
    }
  }

  .gallery-content {
    grid-template-columns: 1fr;

    .grid {
      margin-top           : 20px;
      grid-template-columns: repeat(3, 1fr);
    }

    .filters-wrap {
      max-height: 0;
      overflow  : hidden;
      background: #0a0e16;
      transition: max-height 0.7s linear, opacity 0s, visibility 0s;

      .filters {
        width           : 94%;
        margin          : 20px 3% 0 3%;
        background-color: transparent;

        .chakra-accordion__item {
          background-color: transparent;
        }

        span.__filter-title {
          font-size: 30px;
        }

        .filters-list {
          span {
            font-size: 18px;
          }
        }
      }

    }

    .opened {
      max-height: 1000px;

    }
  }
}