h2.breadcrumb {
  color        : #ababab;
  margin-bottom: 20px;
}

.gen-wrap{
  gap: 10px;
}
.filterH2 {
  background : #0a0e16;
  font-weight: bold;
  font-size  : 2.3rem;
  padding    : 5px 20px;
  width      : 100%;
}

.gallery-content {
  display              : grid;
  grid-template-columns: 2fr 5fr;
  gap                  : 20px;

  .filters-wrap {
    width: 100%;

    h2.filterH2 {
      background : #0a0e16;
      font-weight: bold;
      font-size  : 2.3rem;
      padding    : 5px 20px;
      width      : 100%;
    }

    .filters {
      * {
        color: #ababab;
      }

      h2 {
        width: 100%;
      }

      .testclass {
        background-color: red;
      }

      .filter-container {
        padding-bottom: 2px;
      }

      .filter-buttons-container {
        margin-left: 0;
      }
      
      .filters-list {
        max-height    : 500px;
        overflow-y    : scroll;
        padding-bottom: 20px;
        margin-right  : 10px;

        span {
          font-size: 14px;
        }
      }

      .filters-list::-webkit-scrollbar {
        background-color: transparent;
        width           : 4px;
      }

      .filters-list::-webkit-scrollbar-thumb {
        background-color: #706f6f;
        border-radius: 50px;
      }

      span.__filter-title {
        font-size: 14px;
      }
      @media screen and (max-width: 1450px) {
        span.__filter-title{
          font-size: 10px;
        }
      }

      width     : 80%;
    }
  }

  .grid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows       : max-content;
    gap                  : 20px;

    .btn-showmore {
      grid-column-start: 2;
      grid-column-end  : 3;
      justify-self     : center;
      align-self       : center;

      // font-weight: bold;
      height: 50px;
      width : 80%;
    }
  }
}

@media screen and(max-width: 1450px) {
  .gallery-content{
    grid-template-columns: 3fr 5fr;
  }
}