.welcome-wrap {
  height   : 90vh;
  margin   : 0 auto;
  max-width: 100%;

  background           : radial-gradient(circle, #414650 0%, rgba(19, 24, 38, 1) 50%);
  display              : grid;
  grid-template-rows   : repeat(4, 18vh) repeat(2, 9vh);
  // position          : relative;

  .video-wrap {
    position: absolute;
    width   : 99vw;
    height  : 100vh;
    left    : 0%;
    overflow: hidden;
    top     : 0;

    .welcome-planet {
      width    : 100vw;
      max-width: 100vw;
      display  : block;
      position : absolute;
      top      : -50%;
    }
  }

  .welcome {
    // z-index       : 2;
    grid-row-start: 3;
    grid-row-end  : 4;

    h1,
    p {
      text-align: center;
      color     : whitesmoke;
    }

    h1 {
      font-weight: bold;
      font-size  : 2.5vw;
    }

    p {
      font-size: .9vw;
    }
  }

  .nav-btns {
    grid-row-start   : 4;
    grid-row-end     : 5;
    justify-self     : center;
    // z-index       : 2;
    width            : 15%;

    button {
      position: relative;
      height  : 30%;
      width   : 100%;

      span {
        font-size  : .95vw;
        font-weight: bold;
      }
    }
  }

  .links {
    grid-row-start          : 6;
    grid-row-end            : 7;
    align-self              : center;
    margin-left             : 5vw;
    // z-index              : 2;
    display                 : grid;
    grid-template-columns   : repeat(5, 1fr);
    gap                     : 20px;

    width   : 10vw;
    position: relative;

    img {
      width  : 20px;
      display: inline-block;
      opacity: .7;
    }

  }

  .links:before,
  .links:after {
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(50% - 2px);
    width        : 13vw;
    height       : 4px;
    border-radius: 4px;
    background   : #afb5c3;
  }

  .links:before {
    left : -205%;
    width: 19vw;
  }

  .links:after {
    left: 113%;
  }
}

.index-wrap-content {
  display              : grid;
  grid-template-rows   : 100vh 1fr;
  gap                  : 150px;
  // position          : relative;
  // z-index           : 2;

  h2 {
    width      : 100%;
    font-weight: bold;
    font-size  : 2vw;
    margin     : 0 0 20px 0;
    padding    : 0 0 10px 0;
    position   : relative;
  }


  .carousel {
    display           : grid;
    grid-template-rows: 5fr 1fr;

    .toGallery {
      justify-self: center;
      width       : 13%;
      height      : 50px;

      ._btn {
        width : 100%;
        height: 100%;
      }
    }
  }

  .gen-wrap {
    display                 : grid;
    grid-template-rows      : repeat(4, minmax(100vh, 1fr));
    // grid-template-rows   : repeat(4, 100vh);
    grid-auto-rows          : repeat(4, 100vh);

    gap            : 200px;
    // .content-block {
    //   max-height: 300vh;
    // }

    .storyline {
      display              : grid;
      grid-template-columns: 1fr 1fr;
      padding              : 0 20px 0 0;
      gap                  : 30px;

      .text-wrap {
        display           : grid;
        grid-template-rows: min-content 1fr;
        gap               : 50px;

        .text {
          h2:after {
            content   : '';
            position  : absolute;
            display   : block;
            top       : 100%;
            left      : 25%;
            width     : 20%;
            height    : 2px;
            background: white;
          }
        }

        .toMint {
          justify-self: left;
          align-self  : start;

          width : 35%;
          height: 50px;
        }
      }

      img {
        display        : inline-block;
        // height      : 50vh;
        width          : 100%;
        justify-self   : right;
      }
    }

    .nft {
      display              : grid;
      gap                  : 15px;
      grid-template-rows   : 1fr 3fr;
      // height            : 100vh;

      .info {
        display           : grid;
        grid-template-rows: repeat(3, 1fr);

        h2 {
          text-align   : right;
          position     : relative;
          display      : inline-block;
          // margin    : 0 0 50px 0;
          padding      : 0;

          span {
            display : inline-block;
            position: relative;
          }

          span:before {
            content   : '';
            position  : absolute;
            bottom    : calc(20% + 2px);
            right     : 90%;
            width     : 300%;
            height    : 3px;
            background: white;
          }
        }


        .about {
          align-self: center;

          display              : grid;
          grid-template-columns: repeat(4, 1fr);
          gap                  : 15px;

          height: 6vh;

          h3 {
            height     : 100%;
            border-left: 6px solid white;
            background : #555555;
            text-align : center;
            font-weight: bold;
            font-size  : 1vw;
            padding    : 15px 0 0 0;
          }

        }

        p {
          justify-self: center;
          align-self  : center;
          text-align  : center;
          width       : 60%;
        }
      }

      .levels {
        display: grid;
        gap    : 30px;

        .level {
          display: grid;

          h3 {
            font-weight: bold;
            font-size  : 1vw;

            border-top: 4px solid white;

            span {
              display   : inline-block;
              width     : 60px;
              background: white;
              color     : #131826;
              text-align: center;
              box-shadow: 0 -2px 1px 0px white;
            }
          }

          .icons {
            width  : 100%;
            height : 100%;
            display: grid;

            figure {
              display     : grid;
              justify-self: center;

              img {
                width  : 5vw;
                display: block;
              }

              figcaption {
                justify-self: end;
                text-align  : center;
              }
            }
          }
        }

        .dope {
          .icons {
            grid-template-columns: repeat(1, 1fr);
          }

          h3 {
            width: 50%;
          }
        }

        .wild {
          .icons {
            grid-template-columns: repeat(3, 1fr);
          }

          h3 {
            width: 75%;
          }
        }

        .basic {
          .icons {
            grid-template-columns: repeat(4, 1fr);
          }

          h3 {
            width: 100%;
          }
        }
      }
    }

    .roadmap {
      display: grid;

      .points {
        justify-self: center;
        display     : grid;

        grid-template-columns: 8fr 1fr 8fr;
        grid-template-rows   : repeat(28, 4vh);
        width                : 90%;

        h2 {
          justify-self: end;

          width : min-content;
          height: min-content;
        }

        .divider-wrap {
          justify-self: center;

          grid-column-start: 2;
          grid-column-end  : 3;
          grid-row-start   : 1;
          grid-row-end     : 27;

          width : 100%;
          height: 100%;

          display              : grid;
          grid-template-columns: 1fr;
          grid-template-rows   : repeat(40, 4vh);

          .divider {
            grid-column-start: 1;
            grid-column-end  : 2;
            grid-row-start   : 1;
            grid-row-end     : 27;
            justify-self     : center;
            border           : none;
            border-radius    : 10px;
            width            : 10px;
            height           : 100%;
            background       : #363636;
          }

          i {
            grid-column-start: 1;
            grid-column-end  : 2;
            justify-self     : center;
            align-self       : end;

            display      : inline-block;
            width        : 25px;
            height       : 25px;
            border-radius: 100%;
            background   : #00050f;
          }

          .for5 {
            grid-row-start: 1;
            grid-row-end  : 2;
          }

          .for15 {
            grid-row-start: 4;
            grid-row-end  : 5;
          }

          .for30 {
            grid-row-start: 9;
            grid-row-end  : 10;
          }

          .for50 {
            grid-row-start: 12;
            grid-row-end  : 13;
          }

          .for70 {
            grid-row-start: 16;
            grid-row-end  : 17;
          }

          .for80 {
            grid-row-start: 20;
            grid-row-end  : 21;
          }

          .for100 {
            grid-row-start: 23;
            grid-row-end  : 24;
          }
        }

        .point {
          justify-self: center;

          background   : #050a15;
          border-radius: 15px;
          padding      : 25px 30px;
          width        : 100%;
          height       : max-content;
          position     : relative;

          h3 {
            font-size  : 1vw;
            font-weight: bold;
            margin     : 0 0 20px 0;

            span {
              display: block;
            }
          }
        }

        .point:not(.right):after {
          background   : transparent;
          border-left  : 20px solid #050a15;
          border-right : 10px solid transparent;
          border-top   : 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right : 10px solid transparent;

          content : '';
          display : block;
          position: absolute;
          top     : 10%;
          left    : 100%;
          width   : 30px;
          height  : 10px;
        }

        .point.right:before {
          background   : transparent;
          border-left  : 10px solid transparent;
          border-right : 10px solid transparent;
          border-top   : 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right : 20px solid #050a15;

          content : '';
          display : block;
          position: absolute;
          top     : 10%;
          right   : 100%;
          width   : 30px;
          height  : 10px;
        }

        .point.right {
          grid-column-start: 3;
          grid-column-end  : 4;
        }


        .point.p5 {
          grid-row-start: 1;
          grid-row-end  : 5;
        }

        .point.p15.right {
          grid-row-start: 4;
          grid-row-end  : 9;
        }

        .point.p30 {
          grid-row-start: 9;
          grid-row-end  : 13;
        }

        .point.p50.right {
          grid-row-start: 12;
          grid-row-end  : 16;
        }

        .point.p70 {
          grid-row-start: 16;
          grid-row-end  : 20;
        }

        .point.p80.right {
          grid-row-start: 20;
          grid-row-end  : 24;
        }

        .point.p100 {
          grid-row-start: 23;
          grid-row-end  : 27;
        }
      }
    }

    .faq {
      ul {
        margin-left        : 20px;
        list-style-position: inside;
      }
    }
  }
}

// .vertical-lines {
//   border-left: 2px white solid;
//   /* width   : 400px; */
//   height     : calc(100% - 50vh);
//   position   : absolute;
//   left       : 16.6%;
//   // z-index: 0;
//   opacity    : 0.1;
// }