.index-wrap-content {
  display: grid;
  grid-template-rows: repeat(5, 100vh);

  h2 {
    width      : 100%;
    font-weight: bold;
    font-size  : 2vw;
    margin     : 0 0 20px 0;
    padding    : 0 0 10px 0;
    position   : relative;
  }

  .carousel {
    display           : grid;
    grid-template-rows: 5fr 1fr;
    gap               : 20px;

    .toGallery {
      justify-self: center;
      width       : 13%;
      height      : 50px;
    }
  }

  .storyline {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    padding              : 0 20px 0 0;
    // height               : 100vh;

    .text-wrap {
      display           : grid;
      grid-template-rows: 7fr 1fr;

      .text {

        h2:after {
          content   : '';
          position  : absolute;
          display   : block;
          top       : 100%;
          left      : 25%;
          width     : 20%;
          height    : 2px;
          background: white;
        }
      }

      .toMint {
        justify-self: left;

        width : 35%;
        height: 70%;
      }
    }

    img {
      display     : inline-block;
      height      : 50vh;
      justify-self: right;
    }
  }

  .nft {
    display           : grid;
    gap               : 15px;
    grid-template-rows: 1fr 3fr;
    // height            : 100vh;

    .info {
      display           : grid;
      grid-template-rows: repeat(3, 1fr);

      h2 {
        text-align   : right;
        position     : relative;
        display      : inline-block;
        // margin    : 0 0 50px 0;
        padding      : 0;

        span {
          display : inline-block;
          position: relative;
        }

        span:before {
          content   : '';
          position  : absolute;
          bottom    : calc(20% + 2px);
          right     : 90%;
          width     : 300%;
          height    : 3px;
          background: white;
        }
      }


      .about {
        align-self: center;

        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 15px;

        height: 6vh;

        h3 {
          height     : 100%;
          border-left: 6px solid white;
          background : #555555;
          text-align : center;
          font-weight: bold;
          font-size  : 1vw;
          padding    : 15px 0 0 0;
        }

      }

      p {
        justify-self: center;
        align-self  : center;
        text-align  : center;
        width       : 60%;
      }
    }

    .levels {
      display: grid;
      gap    : 30px;

      .level {
        display: grid;

        h3 {
          font-weight: bold;
          font-size  : 1vw;

          border-top: 4px solid white;

          span {
            display   : inline-block;
            width     : 60px;
            background: white;
            color     : #131826;
            text-align: center;
            box-shadow: 0 -2px 1px 0px white;
          }
        }

        .icons {
          width  : 100%;
          height : 100%;
          display: grid;

          figure {
            display     : grid;
            justify-self: center;

            img {
              width  : 5vw;
              display: block;
            }

            figcaption {
              justify-self: end;
              text-align  : center;
            }
          }
        }
      }

      .dope {
        .icons {
          grid-template-columns: repeat(1, 1fr);
        }

        h3 {
          width: 50%;
        }
      }

      .wild {
        .icons {
          grid-template-columns: repeat(3, 1fr);
        }

        h3 {
          width: 75%;
        }
      }

      .basic {
        .icons {
          grid-template-columns: repeat(4, 1fr);
        }

        h3 {
          width: 100%;
        }
      }
    }
  }
}