.welcome-wrap {
  height    : 90vh;
  background: radial-gradient(circle, #414650 0%, rgba(19, 24, 38, 1) 50%);
  position  : relative;

  .video-wrap {
    width : 100%;
    height: calc(100%);
    left  : 0%;

    background-image   : url(../images/planet.gif);
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    opacity            : .5;
  }

  .content {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;

    display           : grid;
    grid-template-rows: repeat(10, 1fr);

    .welcome {
      grid-row-start: 5;
      grid-row-end  : 6;

      h1,
      p {
        text-align: center;
        color     : whitesmoke;
      }

      h1 {
        font-weight: bold;
        font-size  : 2.7rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .nav-btn {
      grid-row-start: 7;
      grid-row-end  : 8;
      justify-self  : center;

      height          : 50px;
      width           : max-content;
      padding         : 0 30px;
      background-color: rgb(255, 0, 157);
      color           : #fff;
      border-radius   : 15px;
      font-size       : 30px;

      span {
        font-size  : 30px;
        font-weight: bold;
      }
    }

    .links {
      grid-row-start       : 10;
      grid-row-end         : 11;
      align-self           : center;
      margin-left          : 15vw;
      display              : grid;
      grid-template-columns: repeat(5, 1fr);
      gap                  : 20px;

      width   : min-content;
      position: relative;

      img {
        width    : 20px;
        display  : inline-block;
        max-width: none;
        opacity  : .7;
      }

    }

    .links:before,
    .links:after {
      content      : '';
      display      : block;
      position     : absolute;
      top          : calc(50% - 2px);
      width        : 13vw;
      height       : 4px;
      border-radius: 4px;
      background   : #afb5c3;
    }

    .links:before {
      right: 113%;
      width: 19vw;
    }

    .links:after {
      left: 113%;
    }
    @media screen and (max-width: 1200px) {
      .links{
        margin: 0 auto;
      }
      .links:after {
        left: 113%;
        width: 19vw;
      }
    }
  }
}

// CONTENT
.index-wrap-content {
  display           : grid;
  grid-template-rows: 500px 1fr;
  @media (min-width: 500px){
    gap               : 150px;
  }

  h2 {
    width      : 100%;
    font-weight: bold;
    font-size  : 2.5rem;
    margin     : 0 0 20px 0;
    padding    : 0 0 10px 0;
    position   : relative;
  }

  .carousel-wrap {
    display       : flex;
    flex-direction: column;

    .carousel {
      justify-self: start;
    }

    .toGallery {
      align-self: center;

      width     : max-content;
      height    : 50px;
      margin-top: 30px;

      ._btn {
        padding         : 0 30px;
        border-radius   : 15px;
        width           : 100%;
        height          : 100%;
        background-color: rgb(0, 196, 196);
      }
    }
  }

  .gen-wrap {
    display       : flex;
    flex-direction: column;

    gap: 200px;

    .storyline {
      display              : grid;
      grid-template-columns: 1fr 1fr;
      padding              : 0 20px 0 0;
      gap                  : 30px;

      .text-wrap {
        display           : grid;
        grid-template-rows: min-content 1fr;
        gap               : 50px;

        align-self: center;

        .toMint {
          justify-self    : left;
          align-self      : start;
          background-color: rgb(255, 0, 157);
          border-radius   : 15px;
          width           : max-content;
          padding         : 0 30px;
          height          : 50px;
        }
      }

      img {
        display     : inline-block;
        justify-self: center;
        align-self: center;
        max-height: 521px;
      }

      @media screen and (max-width: 1200px) {
        .text {
          .display-none {
            display: none;
          }
        }


      }

    }

    @media screen and (max-width: 1100px) {
      .storyline {
        grid-template-columns: 1fr;
        grid-template-rows   : 1fr;
        padding: 0;
        .text-wrap {
          gap: 27px;
        }

        img {
          order     : -1;
          width     : 100%;
          object-fit: cover;
          height    : 60vw;
        }
      }
    }

    @media screen and (max-width: 500px) {
      .storyline {
        img {
          height: 100vw;
        }

        .text {
          h2 {
            margin-bottom: 0;
          }
        }
      }
    }

    .nft {
      display: grid;
      gap    : 15px;

      .info {
        display           : grid;

        h2 {
          text-align: right;
          position  : relative;
          display   : inline-block;
          padding   : 0;
        }

        .about {
          align-self: center;

          display              : grid;
          grid-template-columns: repeat(4, 1fr);
          gap                  : 15px;

          h3 {
            display        : flex;
            align-items    : center;
            justify-content: center;
            word-wrap: normal;
            white-space: nowrap;
            padding: 20px 10px;

            border-left   : 6px solid white;
            background    : #555555;
            font-weight   : bold;
            font-size     : 30px;
          }
          @media (max-width: 750px){
            grid-template-columns: repeat(2, 1fr);
            h3{
              padding: 15px;
            }
          }
          @media (max-width: 500px){
            grid-template-columns: repeat(1, 1fr);
          }
        }

        p {
          justify-self: center;
          align-self  : center;
          text-align  : center;
          width       : 60%;
          margin      : 15px 0;
        }

      }

      .levels {
        display                 : grid;
        gap                     : 50px;

        .level {
          display: grid;
          gap: 30px;

          h3 {
            font-weight: bold;
            font-size  : 30px;
            // margin-bottom: 50px;
            display: flex;
            border-top: 4px solid white;
            white-space: nowrap;
            span {
              display   : inline-block;
              width     : 80px;
              margin-right: 7px;
              background: white;
              color     : #131826;
              text-align: center;
              box-shadow: 0 -2px 1px 0px white;
            }
          }

          .icons {
            width          : 100%;
            height         : 100%;
            display        : flex;
            flex-direction : row;
            justify-content: space-evenly;

            figure {
              display     : grid;
              justify-self: center;
              width: 140px;
              img {
                justify-self: center;
                align-self  : center;
                width       : 80px;
                display     : block;
              }

              figcaption {
                justify-self: end;
                align-self  : center;
                width: 100%;
                text-align: center;
              }
            }
          }
          @media (max-width: 700px) {
            .icons {
              flex-direction: column;
              gap           : 50px;

              figure {
                gap: 10px;
                width: auto;
                figcaption {
                  justify-self: center;
                }
              }
            }
          }
        }

        .dope {
          h3 {
            width: 50%;
          }
        }

        .wild {
          h3 {
            width: 75%;
          }
        }

        .basic {
          h3 {
            width: 100%;
          }
        }
      }
    }

    .roadmap {
      width     : 90%;
      align-self: center;

      .points {
        display       : flex;
        flex-direction: row;

        .side {
          display       : flex;
          flex-direction: column;
          gap           : 100px;
          width         : 50%;
        }

        .point {
          background   : #050a15;
          border-radius: 15px;
          padding      : 25px 30px;
          width        : 100%;
          height       : max-content;
          position     : relative;

          h3 {
            font-size  : 30px;
            font-weight: bold;
            margin     : 0 0 20px 0;

            span {
              display    : block;
              font-family: 'Amatic SC', cursive;
            }
          }
        }

        .left {
          justify-content: space-between;

          .point:after {
            background   : transparent;
            border-left  : 20px solid #050a15;
            border-right : 10px solid transparent;
            border-top   : 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right : 10px solid transparent;

            content : '';
            display : block;
            position: absolute;
            top     : 10%;
            left    : 100%;
            width   : 30px;
            height  : 10px;
          }

          .point:before {
            background   : #050a15;
            border-radius: 100%;

            content : '';
            display : block;
            position: absolute;
            top     : calc(10% - 6px);
            left    : calc(100% + 37px);
            width   : 25px;
            height  : 25px;
          }
        }

        .right {
          justify-content: space-around;

          .point:after {
            background   : transparent;
            border-left  : 10px solid transparent;
            border-right : 10px solid transparent;
            border-top   : 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right : 20px solid #050a15;

            content : '';
            display : block;
            position: absolute;
            top     : 10%;
            left    : -30px;
            width   : 30px;
            height  : 10px;
          }

          .point:before {
            background   : #050a15;
            border-radius: 100%;

            content : '';
            display : block;
            position: absolute;
            top     : calc(10% - 6px);
            left    : -62px;
            width   : 25px;
            height  : 25px;
          }
        }

        .divider {
          margin       : 0 45px;
          border       : none;
          border-radius: 10px;
          width        : 10px;
          background   : #363636;
        }
      }

      @media (max-width: 750px) {
        .points {
          flex-direction: column;
          gap           : 30px;
        }
      }
    }

    .faq {
      .accordion {
        h2 {
          margin-bottom : 0;
          padding-bottom: 0;
        }

        ul {
          margin-left        : 20px;
          list-style-position: inside;
        }

        button {
          div {
            font-family: 'Amatic SC', cursive;
            font-size  : 30px;
          }
        }
      }
    }
  }
}