.gen-wrap.user-acc {
  display: grid;
  gap    : 50px;

  h1 {
    font-weight: bold;
    font-size  : 2.5rem;
  }

  .bought {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows       : max-content;
    gap                  : 20px;

    .item {
      margin: 0 15px;
      box-shadow: 6px 6px 6px 5px rgba(105, 131, 153, 0.52);
    }
  }
  @media screen and (max-width: 1450px) {
    .bought {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 650px) {
    .bought{
      grid-template-columns: 1fr;
    }
  }

  .user-account.cnct-wallet {
    justify-self: center;

    padding      : 15px;
    border-radius: 30px;
    background   : rgb(66, 112, 128);
  }
}