$animationSpeed: 20s;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 10))
	}
}


// Styling
.slider {
	background: transparent;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height    : 30vh;
	margin    : auto;
	overflow  : hidden;
	position  : relative;
	width     : 960px;

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display  : flex;
		width    : calc(250px * 20);
		height   : 100%;
	}

	.slide {
		height: 100%;
		// width : 250px;
		margin: 0 10px;
		// flex: 1;
		
		img{
			height: 100%;
			width: 250px;
		}
	}
}