.footer {
  background: rgba(103, 48, 139, 0.719);

  .footer-inner-wrap {
    margin               : 0 auto;
    max-width            : 70vw;
    height               : 8vh;

    h2 {
      color: white;
    }
  }
}