.footer {
  background: #131826;

  .footer-inner-wrap {
    margin               : 0 auto;
    max-width            : 70vw;
    height               : 8vh;

    h2 {
      color: white;
    }
  }
}