.char-card {
  .char-body {
    position: relative;

    .front {
      a.char-link {
        span {
          pointer-events: none;

          font-family: 'Amatic SC', cursive;
          font-size  : 30px;
        }

        img {
          margin    : 0;
        }
      }
    }
  }

}