.char-card {
  .char-body {
    position: relative;

    .front {
      a.char-link {
        span {
          pointer-events: none;
          position      : absolute;
          z-index       : 1;
          top           : 15px;
          left          : 15px;
        }

        img {
          margin    : 0;
        }
      }
    }
  }

}