.header {
  height: 90vh;

  // background: rgb(136, 136, 136); #131826
  background: radial-gradient(circle, #414650 0%, rgba(19, 24, 38, 1) 40%);

  .header-inner-wrap {
    height   : 90vh;
    margin   : 0 auto;
    max-width: 80vw;

    display           : grid;
    grid-template-rows: repeat(4, 18vh) repeat(2, 9vh);

    .welcome {
      grid-row-start: 3;
      grid-row-end  : 4;

      h1,
      p {
        text-align: center;
        color     : whitesmoke;
      }

      h1 {
        font-weight: bold;
        font-size  : 2.5vw;
      }

      p {
        font-size: .9vw;
      }
    }

    .nav-btns {
      grid-row-start: 4;
      grid-row-end  : 5;
      justify-self  : center;

      width: 40%;

      display              : grid;
      grid-template-columns: 1fr 1fr;
      gap                  : 100px;

      button {
        justify-self: center;
        align-self  : center;

        height: 30%;
        width : 100%;

        transition: .2s;

        span {
          font-size: .95vw;
        }
      }
    }

    .links {
      grid-row-start: 6;
      grid-row-end  : 7;
      align-self    : center;
      margin-left   : 5vw;

      display              : grid;
      grid-template-columns: repeat(5, 1fr);
      gap                  : 20px;

      width   : 10vw;
      position: relative;

      img {
        width  : 20px;
        display: inline-block;
        opacity: .7;
      }

    }

    .links:before,
    .links:after {
      content   : '';
      display   : block;
      position  : absolute;
      top       : calc(50% - 2px);
      width     : 13vw;
      height    : 4px;
      border-radius: 4px;
      background: #afb5c3;
    }

    .links:before {
      left      : -145%;
    }

    .links:after {
      left      : 113%;
    }
  }
}