@font-face {
  font-family: 'Montserrat-Regular';
  src        : url(../fonts/Montserrat-Regular.ttf);
}

* {
  font-family: 'Montserrat-Regular';
}

html {
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%;
  font                    : 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing              : border-box;
  overflow-y              : scroll;
}

body {
  margin                       : 0;
  -webkit-font-smoothing       : antialiased;
  -moz-osx-font-smoothing      : grayscale;
  color                        : hsla(0, 0%, 0%, 0.8);
  font-weight                  : normal;
  word-wrap                    : break-word;
  font-kerning                 : normal;
  -moz-font-feature-settings   : "kern", "liga", "clig", "calt";
  -ms-font-feature-settings    : "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings        : "kern", "liga", "clig", "calt";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

.layout-inner-wrap {
  width     : calc(100vw - 19px);
  background: rgba(19, 24, 38, 1) 100%;

  * {
    color: white;
  }

  .layout-second-inner-wrap {
    padding  : 1.45rem 1.0875rem 1.45rem 1.0875rem;
    margin   : 0 auto;
    max-width: 70vw;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}