.navbar-wrap {
  align-self   : center;
  justify-self : right;
  height       : 80%;
  width        : 30vw;
  border-radius: 5px;

  display              : grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  grid-template-rows   : 1fr;
  gap                  : 30px;

  button {
    align-self   : center;
    border-radius: 30px;
    height       : 30%;
    transition   : .2s;

    position: relative;

    span{
      font-size: .95vw;
    }

    img {
      display: inline-block;
      height : 3vh;
    }
  }

  button:not(.red) {
    span:after {
      content      : '';
      position     : absolute;
      display      : block;
      top          : 90%;
      left         : 50%;
      width        : 5px;
      height       : 5px;
      border-radius: 10px;
      // background   : #f84658;
      background   : #131826;
      transition   : .2s;

      opacity: 0;
    }
  }

  button:hover:not(.red) {
    color   : #131826;
    // color: #f84658;
  }

  button:hover:not(.red) span:after {
    opacity: 1;
  }

  button.red {
    // background: #f84658;
    background   : #131826;
  }
}