.navbar-wrap {
  // align-self: center;
  justify-self: center;
  max-width   : 80vw;
  height      : 100%;

  display              : grid;
  grid-template-columns: 1fr 1.5fr;


  .logo {
    align-self: center;
    display   : inline-block;
    width     : 30%;
    height    : 40%;

    button {
      width : 100%;
      height: 100%;
    }
  }

  .navbar-btns {
    height       : 100%;
    width        : 100%;
    border-radius: 5px;

    display              : grid;
    grid-template-columns: repeat(7, 2fr) 60px;
    grid-template-rows   : 1fr;
    gap                  : 30px;

    button {
      align-self   : center;
      height       : 50%;
      transition   : .2s;
      border-radius: 5px;

      position: relative;

      a {
        width  : 100%;
        height : 60%;
        display: block;

        span {
          font-size: .95vw;
        }

        img {
          display: inline-block;
          height : 2.5vh;
          width: 2vh;
        }
      }
    }

    button:not(.withBg) {
      span:after {
        content      : '';
        position     : absolute;
        display      : block;
        top          : 90%;
        left         : 50%;
        width        : 10%;
        height       : 1px;
        border-radius: 10px;
        background   : whitesmoke;
        transition   : .3s;

        opacity: 0;
      }
    }

    button:hover:not(.withBg) span:after {
      opacity: 1;
      left   : 0%;
      width  : 100%;
    }

    button.withBg {
      color      : #131826;
      font-weight: bold;
      background : whitesmoke;
    }
  }
}